<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          <%= @last.header.html_safe %>,
          <% for stat in @stats do %>
            <%= stat.statvalues(@last.abs).html_safe %>,
          <% end %>
            <%= @last.statvalues(@last.abs).html_safe %>
        ]);

        var options = {
          title: 'Generation statistics',
	  curveType: 'function'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
 </script>




<div id="chart_div" style="width: 1200px; height: 500px;"></div>
